.btn /* bouton avec dégradé couleur*/
{
    color: $color_background;
    background:linear-gradient(to bottom right,$color_secondary,$color_primary);
    border-radius: 100px;
    height:47px;
    margin-top:10px;
    width:220px;
    font-size: 16px;
    font-weight: 500;
    display:flex;
    justify-content: center;
    align-items: center;
    @include shadow;
    cursor: pointer;
        &:active
        {
            filter:brightness(1.20);
            box-shadow:darken($color: $color_background, $amount: 50%) 0px 15px 20px;
        }
    &--menu
    {
        width:180px;
        height:52px;
        margin-top: 48px;
    }
} 
i[class="fa-solid fa-heart"] /*coeur "solid"*/
{
    opacity: 0;
    color:transparent; /* vu que l'icone est considéré comme un texte, le rend transparent */
    background:linear-gradient(to bottom left,$color_primary,$color_secondary);
    background-clip: text; /*s'étend jusqu'à la limite de la boite de remplissage ici considéré comme un texte (heart est dans une balise <i>) */
    
    &:hover
    { 
    animation: heart ease-in 300ms forwards;
    }
}
.cards--menu h1 i[class="fa-solid fa-heart"] /*coeur "solid" dans les menu*/
{
    padding-left:18px;
}
.check /* background bouton check menu*/
{
    height:100%;
    width:18%;
    font-size: $font-size__titre;
    color:invert($color: #000000);
    background-color: $color_tertiary;
    border:none;
    position: absolute;
    right:-20%;
}
header a /*fleche retour accueil */
{
    position:absolute;
    left:6%;
    font-size: $font-size__titre;
    color:darken($color: $color_background, $amount: 75%)
}
header a:active /* fleche retour index*/
{ 
    color:$color_tertiary;
    font-size: larger;
    box-shadow: $color_background 0px 5px 5px;
}
label i /*icone localisation */
{
    cursor: pointer;
    position:absolute;
    left:23%;
    top:25px;
    color: darken($color: $color_background, $amount: 75%)
}