.btn /* bouton avec dégradé couleur*/
{
    color: $color_background;
    background:linear-gradient(to bottom right,$color_secondary,$color_primary);
    border-radius: 100px;
    height:47px;
    margin-top:10px;
    width:220px;
    font-size: 16px;
    font-weight: 500;
    display:flex;
    justify-content: center;
    align-items: center;
    @include shadow;
    cursor: pointer;
        &:active
        {
            filter:brightness(1.20);
            box-shadow:darken($color: $color_background, $amount: 50%) 0px 15px 20px;
        }
    &--menu
    {
        width:180px;
        height:52px;
        margin-top: 48px;
    }
} 
