.card  /* bloc avec photo restaurant et texte, dans "Restaurant" */
{
    @include card;
    @include shadow;
    margin-top: 17px;
    position: relative;
    
    &--menu /*modifier de card pour les pages "menu"*/
    {
        position: relative;
        height:68px;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;
        overflow: hidden;
        animation:slide_menu 750ms ease both;/*apparition des menus */
        &--one
        {
            animation-delay: 300ms;
        }
        &--two
        {
            animation-delay: 450ms;
        }
        &--three
        {
            animation-delay: 600ms;
        }
        &--four
        {
            animation-delay: 750ms;
        }
        &:hover /*animation "valider menu" */
        {

            .check{
                animation:slide__check 600ms ease forwards;
                animation-iteration-count: 1;
            }
            .text--menu{
                animation: slide--width 600ms ease forwards;
            }
            & i /*icone de l'animation "valider menu"*/
                {
                animation: roll 600ms ease-out;
                }
        }
        & h3
        {
            font-size: 18px;
            height:20px;
            margin:0%;
            margin-top: 15px;
        }
        & p
        {
            margin:0%;
            font-size: 15px;
            padding-bottom:30px;
            overflow: hidden;
            text-overflow: ellipsis;
            color:darken($color: $color-background, $amount: 65%);
        }
        & p,& h3 
        {
            padding-left: 13px;
        }
    }
}
.body--menu
{
    font-size: $font-size__body;
    & h1
    {   
        font-family: "shrikhand";
        font-size: 28px;
        color:darken($color: $color_background, $amount:90%);
        font-weight: lighter;
        justify-content: space-around;
        padding-left: 6%;
        width:94%;
        position: relative;
        & i  /*icone coeur */
        {
            font-size:28px;
            align-items: center;
            display:flex;
            padding-right: 15px;
            position:absolute;
            top:3%;
            right:5%;
        }
    }
}
i[class="fa-solid fa-heart"] /*coeur "solid"*/
{
    opacity: 0;
    color:transparent; /* vu que l'icone est considéré comme un texte, le rend transparent */
    background:linear-gradient(to bottom left,$color_primary,$color_secondary);
    background-clip: text; /*s'étend jusqu'à la limite de la boite de remplissage ici considéré comme un texte (heart est dans une balise <i>) */
    
    &:hover
    { 
    animation: heart ease-in 300ms forwards;
    }
}
.cards--menu h1 i[class="fa-solid fa-heart"] /*coeur "solid" dans les menu*/
{
    padding-left:18px;
}
.check /* background bouton check menu*/
{
    height:100%;
    width:18%;
    font-size: $font-size__titre;
    color:invert($color: #000000);
    background-color: $color_tertiary;
    border:none;
    position: absolute;
    right:-20%;
    animation: slide__check--reverse ease 600ms forwards;
}
header a /*fleche retour accueil */
{
    position:absolute;
    left:6%;
    font-size: $font-size__titre;
    color:darken($color: $color_background, $amount: 75%)
}
header a:active /* fleche retour index*/
{ 
    color:$color_tertiary;
    font-size: larger;
    box-shadow: $color_background 0px 5px 5px;
}
label i /*icone localisation */
{
    position:absolute;
    left:23%;
    top:25px;
    color: darken($color: $color_background, $amount: 75%);
    &:hover{
        cursor:pointer;
    }
}
.photo_restaurant
{
    height: 69%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
        &--header /*modifier pour l'image header menu */
            {
            border-radius: 0%;
            height:300px;
            }
}
.text--menu /*text du menu, pour le ranger */
{
    display: inline-flex;
    width:100%;
    justify-content: space-between;
    animation: slide--width--reverse 600ms ease forwards;

    & span {
        height:100%;
        font-size: 15px;
        padding-right: 20px;
    }
}
.card_text
{ 
    padding-left: 15px;
    padding-top: 12px;
    position: relative;
        p{
            margin-top:5px;
        }
        i{ /* icone coeur*/
            position: absolute;
            right:7%;
            bottom:25%;
            font-size: 25px;
        }
}
.cards /*conteneur des bloc card */
{
    @include text--center;
    background-color: $color_background;
    margin-top: 52px;
    padding-bottom: 70px;
    padding-top:10px;
    &--menu  /*sur page menu*/
    {
        margin-top: -80px;
        position: relative; 
        border-radius: 40px 40px 0 0;
        padding-bottom: 55px;
        justify-content: flex-start;
        display: block;
    }
    & h2 
    {
        padding:0%;
        font-size: 17px;
        font-weight: lighter;
        color:darken($color: $color_background,$amount: 60%);
    }
    & h1 
    {
        margin-bottom: 0%;
    }
}
.link_new::before /* carte "nouveau"*/
{   
    content:'Nouveau'; /* écrit le texte dans le css directement"*/
    @include new;
    position: absolute;
    font-size: 15px;
    right: 3%;
    top: 5%;
}

.box__border /*boite pour bordure des h2 dans menu */
{
    width:10%;
    border-bottom:3px solid $color_tertiary;
    margin-left:6%;
    margin-top: 40px;
    margin-bottom: 0%;
    height:25px;
}
ul li /* conteneur de chaque case "Fonctionnement" */
{
    list-style-type: none; 
    display: inline-flex;
    width:85%;
    height:72px;
    background-color: $color_background ;
    align-items: center;
    border-radius: 20px;
    @include shadow;
    font-size: 18px;
    font-weight: bold; 
}
nav li:hover /* liste navigation "fonctionnement" */
{
    cursor:pointer;
    background: rgba($color: $color_primary, $alpha: 0.1); 
    animation: filter 300ms ease-out both;
    & i 
    {
        color: $color_primary;
    }
}
ul /* ul "fonctionnement" */
{
    margin-top: 27px;
    height:265px;
    justify-content: space-between;    
}
.puce /* pastille 1, 2 ,3 de li "Fonctionnement"*/
{
    font-size:14px;
    font-weight: 400;
    height:24px;
    width:24px;
    border-radius: 100%;
    background-color: $color_primary;
    color:$color_background;
    @include text--center();
    justify-content: center; 
    position: relative;
    left:-10px;
}
nav i /*icones menu "fonctionnement"*/
{
    color:darken($color: $color_background, $amount: 30%)
}
.puce,nav i /*alignement texte/icone "fonctionnement"*/
{
    margin-right: 12px;
}
.center_btn /*centre le bouton sur les pages menu */
{
    display: flex;
    justify-content: center;
    margin-top:0%;
}