.btn /* bouton avec dégradé couleur*/
{
    color: $color_background;
    background:linear-gradient(to bottom right,$color_secondary,$color_primary);
    border-radius: 100px;
    height:130px;
    margin-top:30px;
    width:600px;
    font-size: 44px;
    display:flex;
    justify-content: center;
    align-items: center;
    @include shadow;
        &:active
        {
            filter:brightness(1.20);
            box-shadow:darken($color: $color_background, $amount: 50%) 0px 15px 20px;
        }
    &--menu
    {
        width:480px;
        margin-top: 120px;
    }
} 
.card /* bloc avec photo restaurant et texte, dans "Restaurant" */
{
    @include card;
    @include shadow;
    margin-top: 50px;
    
    &--menu /*modifier de card pour les pages "menu"*/
    {
        height:175px;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;
        overflow: hidden;
        animation:slide_menu 600ms  ease both; /*apparition des menus */
        &--one
        {
            animation-delay: 300ms;
        }
        &--two
        {
            animation-delay: 450ms;
        }
        &--three
        {
            animation-delay: 600ms;
        }
         &:active .check
         {
            display: block;
            background-color: $color_tertiary;
            width:150px;
            font-size: 60px;
            height:179px;
            color:invert($color: #000000);
            border:none;
            bottom:81px;
            padding-left: 0%;
            border-radius: 0 40px 40px 0;
            transform-origin: right;
            animation: slide_check 600ms 150ms ease-in-out both alternate;
            animation-iteration-count: 2;
            position: relative;  /*permet de le placer correctement */
                & i 
                {
                    animation: check 600ms 150ms ease-in-out both alternate;
                    animation-iteration-count: 2;
                }
         }
        & h3 
        {
            font-size: 48px;
            height:50px;
            margin:0%;
            padding-top: 30px;
        }
        & p
        {
            margin:0%;
            padding-bottom:30px;
            padding-top:15px;
            overflow: hidden;
            text-overflow: ellipsis;
            color:darken($color: $color-background, $amount: 65%);
        }
        & p strong
        {
            padding-right:50px;
        }
        & p,& h3 
        {
            padding-left: 30px;
        }
    }
}
.text--menu /*text du menu, pour le ranger */
{
    display: inline-flex;
    width:100%;
    justify-content: space-between;
}

.card_text
{ 
    padding-left: 40px;
    padding-top: 25px;
    position: relative;
}

.new /* icone "nouveau" */ 
{
    @include new;
    position: absolute;
    left:69%;
    top:137.5%;
    &--card-two
    {
        top:178%;
    }
}
.cards /*conteneur des bloc card */
{
    @include text--center;
    background-color: $color_background;
    margin-top: 130px;
    padding-bottom: 170px;
    padding-top:50px;
    &--menu  /*sur page menu*/
    {
        margin-top: -100px;
        position: relative; 
        border-radius: 100px 100px 0 0;
        padding-bottom: 150px;
        justify-content: flex-start;
        display: block; 
    }
    & h2 
    {
        padding:0%;
        font-size: 48px;
        font-weight: lighter;
        color:darken($color: $color_background,$amount: 60%);
    }
    & h1 
    {
        margin-bottom: 0%;
    }
}
.link_new::before /* tag "nouveau"*/
{   
    content:'Nouveau'; /* écrit le texte dans le css directement"*/
    @include new;
    transform: translate(285%,50%); /* déplace le texte par rapport à son élément parent */
    position: absolute;
}
i[class="fa-solid fa-heart"] /*coeur "solid"*/
{
    opacity: 0;
    color:transparent; /* vu que l'icone est considéré comme un texte, le rend transparent */
    background:linear-gradient(to bottom left,$color_primary,$color_secondary);
    background-clip: text; /*s'étend jusqu'à la limite de la boite de remplissage ici considéré comme un texte (heart est dans une balise <i>) */

}
i[class="fa-solid fa-heart"]:active /*animation coeur*/
{   
    
    opacity: 1;
    animation: heart ease-out 150ms;
}
nav li:active /* liste navigation "fonctionnement" */
{
    background: rgba($color: $color_primary, $alpha: 0.1); 
    animation: filter 300ms ease-out both;
    & i 
    {
        color: $color_primary;
    }
}
.box__border /*boite pour bordure des h2 dans menu */
{
    width:10%;
    border-bottom:8px solid $color_tertiary;
    margin-left:6%;
    margin-top: 100px;
    margin-bottom: 0%;
    height:70px;
}
.check /* bouton "valider" pour les commandes de menu*/
{
  display:none;
}
header a:active
{
    width:120px;
    height:80px;
    color:$color_tertiary;
    transform: translateX(-50px);
    transition: all 300ms;
}

.loading 
{
    z-index: 3;
    display: flex;
    justify-content: center;
    position: absolute;
    top:600%;
}
.loading--spinner 
{
    align-items: center;
    height: 100%;
}
.loading::after 
{
    content: "";
    width: 550px;
    height: 550px;
    border: 20px solid $color_background;
    border-top-color:$color_secondary;
    border-radius: 50%;
    transform: rotate(0.16turn);
    animation: loading 700ms ease infinite both;
    animation-iteration-count: 3;
}
.loading::before
{
    position: absolute;
    z-index: -5;
    opacity: 0;
    content:"Ohmyfood";
    font-family: "Shrikhand";
    font-size: 90px;
    animation: loading--text 1500ms 150ms ease;
    animation-iteration-count: 1;
}
.loading__back
{
    position:absolute;
    z-index: -5;
    height:9000%;
    width:100%;
    background-color: rgba(255,255,255,0.6);
    backdrop-filter:invert(80%);
    opacity: 0;
    animation:scale--none 2500ms ease-in-out;
}
