$color_primary:#9356DC;
$color_secondary:#FF79DA;
$color_tertiary:#99E2D0;
$color_background:#f6f6f6;


@mixin text--center
{
    display:flex;
    align-items: center;
    flex-direction:column;
}
@mixin shadow
{
    box-shadow: darken($color: $color_background, $amount: 20%) 0px 15px 20px;
}
@mixin card
{
    display:block;
    width:90%;
    height:660px;
    background-color:white;
    border-radius: 40px;
    margin:auto;
    text-decoration: none;
    color:black;
}
@mixin new /* icone text "Nouveau" */
{   
    display: flex;
    color: darken($color: $color_tertiary, $amount: 35%);
    background-color: $color_tertiary;
    border-radius: 5px;
    width:220px;
    height:75px;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
@keyframes heart
{
    0%{
        transform: scaleY(.1);
        transform-origin: bottom;
    }
    100%
    {
        transform: scaleY(1);
    } 
}
@keyframes check /*icone valider*/
{
    from {
        transform:translateX(60px) rotate(-2turn);
        z-index: -1;
    }
    to {
      transform: translateX(0px);
      
    }
  }
  @keyframes slide_check /*background icone valider*/
  {
    from{
        transform:scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
  }
  @keyframes filter /*Filtre "Fonctionnement"*/
  {
    0% {
        transform:scale(1);
    }
    100%
    {
        transform: scale(1.2);
    }
}
  @keyframes slide_menu
   {
    0%{
        transform:translateY(-100px);
        opacity: 0;
    }
    100%{
        transform:translateY(0px);
        opacity:1;
    }
}
@keyframes loading {

    from {
      transform: rotate(0turn);
      opacity: 1;
    }
    
    to {
      transform: rotate(1turn);
    }
  }
@keyframes loading--text
{
    from {
        transform-origin: left;
        transform:scaleX(.1);
        z-index: 3;
    }
    to {
        transform:scaleX(1);
        opacity: 1;

    }
}
@keyframes scale--none
{
    from{
        transform: scaleX(1);
        z-index:2;
        opacity: 1;
    }
    to{
        transform:scaleX(0);
        opacity: 1;
    }
}