$color_primary:#9356DC;
$color_secondary:#FF79DA;
$color_tertiary:#99E2D0;
$color_background:#f6f6f6;


@mixin text--center
{
    display:flex;
    align-items: center;
    flex-direction:column;
}
@mixin shadow
{
    box-shadow: darken($color: $color_background, $amount: 20%) 0px 15px 20px;
}
@mixin card
{
    display:block;
    width:90%;
    height:660px;
    background-color:white;
    border-radius: 40px;
    margin:auto;
    text-decoration: none;
    color:black;
}
@mixin new /* icone text "Nouveau" */
{   
    display: flex;
    color: darken($color: $color_tertiary, $amount: 35%);
    background-color: $color_tertiary;
    border-radius: 5px;
    width:220px;
    height:75px;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
@keyframes heart
{
    0%{
        transform: scale(.1);
        transform-origin: bottom;
        
    }
    100%
    {
       transform: scale(1);
       opacity: 1;
    } 
}
@keyframes filter /*Filtre "Fonctionnement"*/
  {
    0% {
        transform:scale(1);
    }
    100%
    {
        transform: scale(1.1);
    }
}
@keyframes slide_menu
   {
    0%{
        transform:translateY(-100px);
        opacity: 0;
    }
    100%{
        transform:translateY(0px);
        opacity:1;
    }
}
@keyframes slide__check /*animation bouton check menu*/
{
    from{}
    to {right:0%}
}
@keyframes slide--width
{
    from{}
    to{width:80%}
}

@keyframes roll /*icone "valider menu"*/
{
    from{
        transform:rotate(0turn)
    }
    to{
        transform: rotate(1turn);
    }
}
@keyframes loading /* loading spinner*/
{

    90%{
        transform: rotate(5turn);
    }

    99%{
        transform:translateY(-99999px);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform:scale(0);
    }
}
@keyframes loading--text /* loading spinner*/
{
    from {
        transform-origin: left;
        transform:scaleX(.1);
        z-index: 3;
    }
    to {
        transform:scaleX(1);
        opacity: 1;

    }
}
@keyframes scale--none /* loading spinner*/
{
    0%{
        transform-origin: top;
        z-index:2;
        opacity: 1;
    }
       
    
    100%{
        opacity: 0;
    }
}
@keyframes slide__text
{
    from{
        transform-origin: left;
        width: 100%;
    }
    to{
        width:75%;
    }
}