header
{
    height:50px;
    @include text--center();
    justify-content: center;
    position: relative;
}
header,.reserve,nav,ul
{
    @include text--center(); 
}
header a /*fleche retour accueil */
{
    position:absolute;
    left:6%;
    font-size: $font-size__titre;
    color:darken($color: $color_background, $amount: 75%)
}
footer
{
    background-color: darken($color: $color_background, $amount: 75%);
    color: $color_background;
    height: 200px;
    padding-left: 7%;
    line-height: 25px;
}
footer h4
{
    font-weight: lighter;
    font-size: 16px;
}
footer i
{
    font-size: 15px;
    margin-right:20px;
}
footer a
{
    text-decoration: none;
    color:inherit;
}
.logo_footer
{
    height:18px;
    filter: invert(100%); /*inverse la couleur de l'image*/
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
}
