header
{
    height:150px;
    @include text--center();
    justify-content: center;
}
header,.reserve,nav,ul
{
    @include text--center(); 
}
footer
{
    background-color: darken($color: $color_background, $amount: 75%);
    color: white;
    height: 510px;
    padding-left: 7%;
    line-height: 70px;  
}
.logo_footer
{
    height:50px;
    filter: invert(100%); /*inverse la couleur de l'image*/
    margin-bottom: 50px;
    margin-top: 50px;
}