header
{
    height:50px;
    @include text--center();
    justify-content: center;
    position: relative;
}
header img
{
    height:28px;
}
header,.reserve,nav,ul
{
    @include text--center(); 
}
footer
{
    background-color: darken($color: $color_background, $amount: 75%);
    color: $color_background;
    height: 200px;
    padding-left: 7%;
    line-height: 25px;
}
footer h4
{
    font-weight: lighter;
    font-size: 16px;
}

footer i /* icone "couverts" */
    {
    font-size: 15px;
    margin-right:13px;
    }
i[class="fa-solid fa-handshake-angle"] /* icone "mains" dans le footer*/
{
    margin-right: 8px;
}
footer a
{
    text-decoration: none;
    color:inherit;
}
